:root {
 --dark-color: #000;
 --white-color: #fff;

 --border-radius-primary: 8px;
 --transition-duration: 0.3s;

 --font-family-primary: 'Montserrat';
 --container-width: 1440px;
 --container-paddings: 0 10px;
}